@page "/"
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Album example · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <!-- Bootstrap core CSS -->
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
  
        body.gradient {
            background-image: linear-gradient( to bottom, white, rgba(0, 0, 255, 0.5) );
        }
   
        .minibox {
            background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
        }
    </style>



</head>
<body class="gradient">

    <header>
    </header>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light w3-text-dark-gray">
                        Metaverse Dance Community 💫
                    </h1>
                    <br />
                    <p class="lead text-muted">
                        댄서, 커뮤니티, 그리고 메타버스의 만남.<img src="https://cdn-icons-png.flaticon.com/512/6356/6356130.png" alt="..." width="32" height="32">
                    </p>
                    <br />
                    <div align="center" class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/4O1yAoEfFzI?start=9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p class="lead text-muted">
                        <br />
                        배우는 단계에 있는 댄서들은 주로 선배 댄서들로부터 수업을 들으며 성장합니다.
                        그 수업에 대한 정보 중 위치나 시간에 대해서는 해당 댄서의 SNS 혹은 학원 홈페이지에서 얻고는 하는데요.<br /><br />
                        수업 속도나 진행 방식과 같은 직접 들어보지 않고서는 알 수 없는 정보들은 가까운 동료로부터 얻거나,<br /> 그게 아니라면 얻기 어려운 경우가 지금까지는 꽤 많았습니다. <br />
                    </p>
                </div>
            </div>
        </section>



        <div class="card-deck">
            <div class="card border-dark mb-3">
                <img src="https://c.tenor.com/c0IE8ijafq4AAAAd/everglow-la.gif" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title w3-text-dark-gray">Choreography</h5>
                    <p class="card-text w3-text-gray">
                        Choreography 장르를 가장 쉽게 이해할 수 있는 예시는 K-Pop입니다.<br />
                        위에 나오고 있는 gif는 걸그룹 에버글로우의 LADIDA로, vogue 스타일이 들어간 안무(Choreography)를 보여줍니다.
                    </p>
                    <p class="card-text"><small class="text-muted">더 많은 정보를 원하신다면 좌측의 Choreography 메뉴를 클릭해주세요 :)</small></p>
                </div>
            </div>
            <div class="card border-dark mb-3">
                <img src="https://media4.giphy.com/media/fimJ5AK6iq1YiGRJdp/200w.gif?cid=82a1493bboww0ap57nlpqplztixk7w0x4iknsq7fhy1fv6wn&rid=200w.gif&ct=g" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title w3-text-dark-gray">Vogue</h5>
                    <p class="card-text w3-text-gray">이 동작은 딥으로, 보그의 뚜렷한 세 가지 스타일인 올드웨이 / 뉴웨이 / 보그 펨 중 보그펨의 대표 동작입니다.</p>
                    <p class="card-text"><small class="text-muted">더 많은 정보를 원하신다면 좌측의 Vogue 메뉴를 클릭해주세요 :)</small></p>
                </div>
            </div>
            <div class="card border-dark mb-3">
                <img src="https://mblogthumb-phinf.pstatic.net/MjAxODA2MzBfNzcg/MDAxNTMwMzIyNDM1MjIy.SZnLTHJoXciXNBCNTkNFc5LHvtcnFz2_b3m0H_kaUNUg.MwjZNJAkZ-qTze7kqxpjEjEsf6RQ4M-2Ut0GFSIEunQg.GIF.twoyeons0320/11.gif?type=w800" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title w3-text-dark-gray">HipHop</h5>
                    <p class="card-text w3-text-gray">힙합 댄스의 주된 문화 중 하나인 사이퍼(Cypher). 동그랗게 모여 서서 한 명씩 나와 자신의 프리스타일 힙합 댄스를 보여주는 겁니다. 서로의 춤을 즐기고, 응원하는 문화죠 :D</p>
                    <p class="card-text"><small class="text-muted">더 많은 정보를 원하신다면 좌측의 HipHop 메뉴를 클릭해주세요 :)</small></p>
                </div>
            </div>
        </div>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <p class="lead w3-text-sand">
                        <br />
                        그래서 저희는 초보자나 동료가 많이 없는 댄서도 <br />수업 속도나 진행 방식과 같은 정보들을 수월하게 얻으실 수 있도록<br />
                        Choreography/Vogue/HipHop으로 나누어 각 장르별로, 댄서별로 수강평을 공유하실 수 있는 기능을 제공합니다.<br />
                    </p>
                    <p class="lead w3-text-light-gray">
                        <br />
                        <br />
                        지금 바로 좌측 메뉴를 통해 원하는 장르로 이동해서<br />
                        수업을 들어본 댄서가 있다면 수강평을 남기고, <br /> 아직 직접 수업을 들어보지 못한 댄서들의 강의평도 구경해보세요!
                    </p>
                </div>
            </div>
        </section>

    </main>

    <footer class="w3-text-sand py-5">
        <div class="container">
            <p class="float-end mb-1">

                <a class="btn btn-outline-secondary" href="#" role="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 10a.5.5 0 0 0 .5-.5V3.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 3.707V9.5a.5.5 0 0 0 .5.5zm-7 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z" />
                    </svg>Back to top
                </a>

            </p>
            <p class="mb-1">&copy; Metaverse Dance Community</p>
            <p class="mb-0">
                Made by HKNU Student 정우주, 백하림, 김인후.
            </p>
        </div>
    </footer>




</body>
</html>
